
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Poncitlan</title>
</head>
<body>
    <div>
        <h1> Esto es el comienzo, chavos!</h1>
        <p><em>Hola,<br /> que hace?</em></p>
        <p> Aqui, <strong>programando</strong> o que hace?</p>
    </div>
    <div>
    <h2>Continuara</h2>
    <p>??????</p>
    <h3>Continuaraaaaaaa</h3>
    </div>
    <div>
        <a href="https://djangogirls.org">más info</a>
        <ul><li>url, ya quedo</li> <li>httm, tambien </li> <li> github, quedo</li> </ul>
    </div>
</body>
</html>